<%= render 'commerces/shared/navbarcommerce' %>
<br><br>
<div class="container text-center card bg-info">
  <br>
  <h1 class="text-white">Nueva sucursal</h1>
  <hr>

<%= render 'form', office: @office %>
<hr>
<%= link_to 'Volver', :back, class:'btn btn-primary col-sm-4 p-1' %>
  <br>
</div>
<br>
