<%= render 'commerces/shared/navbarcommerce' %>
<br><br>
<div class="container text-center card bg-info">
  <br>
  <h1 class="text-white">Nueva sucursal</h1>
  <hr>

<%= render 'form', office: @office %>

<%= link_to 'Back', offices_path %>
</div>
