
  <div class="jumbotron jumbotron-fluid mb-0" id="features-jumbo">
    <div class="text-box">
      <h1 class="heading-primary">
        <span class="heading-primary-main">Los ingredientes para el éxito</span>
        <span class="heading-primary-sub">Descubre como lo hacemos</span>
      </h1>
    </div>
  </div>


  <div class="feature pt-0">
    <div class="container">
      <div class="row">
        <div class="row heading heading-icon">
          <h2 style="color: blue">Características</h2>
          <h3 style="color: white">Un vistazo a la receta</h3>
          <hr>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-4 col-lg-4">
          <div class="feature-main">
            <div class="feature-box">
              <img src="https://www.mdirector.com/wp-content/uploads/2017/12/emails-con-contenido-dinamico.jpg" class="img-responsive" alt="">
              <div class="cover"></div>
            </div>
            <div class="feature-head">
              <h3>Dinámico</h3>
              <p>Kitchain es un ERP dinámico que se adapta a tus necesidades, entregándote las herramientas cuando tu las necesitas</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-4 col-lg-4">
          <div class="feature-main">
            <div class="feature-box">
              <img src=" https://www.guillemrecolons.com/wp-content/uploads/2017/01/personal-branding-en-la-empresa-guillemrecolons-1030x463.jpg" class="img-responsive" alt="">
              <div class="cover"></div>
            </div>
            <div class="feature-head">
              <h3>Maneja tu personal</h3>
              <p>Maneja todo tu personal en una sola aplicación, pudiendo asignar trabajadores a diferentes areas y oficinas</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-4 col-lg-4">
          <div class="feature-main">
            <div class="feature-box">
              <img src="https://wellaggio.com/wp-content/uploads/2016/04/como-disen%CC%83ar-un-sitio-web-amigable.jpg" class="img-responsive" alt="">
              <div class="cover"></div>
            </div>
            <div class="feature-head">
              <h3>Facil de entender</h3>
              <p>Nos encargamos que cualquier persona pueda usar Kitchain facilmente, dándole una intefaz visual amigable y alegre</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <section class="our-webcoderskull padding-lg pt-0">
    <div class="container">
      <div class="row heading heading-icon">
        <h2 style="color: blue">Nuestro Equipo</h2>
      </div>
      <ul class="row">
        <li class="col-12 col-md-6 col-lg-4">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://scontent.fscl9-2.fna.fbcdn.net/v/t1.0-9/62317880_843582919348556_4055008568389140480_n.jpg?_nc_cat=106&_nc_oc=AQmf2iJfwtln15tgalvEHfiG0b1sI01yVNkuWgwJKowPeWhwChVX3AexycUpiF14uVQ&_nc_ht=scontent.fscl9-2.fna&oh=ac4aa9fb20a0c98abd2262d265e067d9&oe=5E39B189" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Samuel Cea</a></h3>
            <p>Jefe de Desarrollo</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-4">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://vignette.wikia.nocookie.net/jurassicpark/images/e/ec/Nedry_only.jpg/revision/latest?cb=20140826053036&path-prefix=es" class="img-responsive" alt=""></figure>
            <h3><a href="#">Dennis Nedry </a></h3>
            <p>Desarrollador</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-4">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://d2tml28x3t0b85.cloudfront.net/tracks/artworks/000/060/863/original/86bf19.jpeg?1451538762" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Leopold Nilsson</a></h3>
            <p>Hackerman</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <div class="row heading heading-icon">
    <h2 style="color: blue">Nuestra tecnología</h2>
  </div>
  <div class="row">
    <div class="col-sm-10 mx-auto text-center">
      <h3>Ocupamos las últimas técnicas en informática y bases de datos</h3>
      <hr>
      <p>
        <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img/https://programandoointentandolo.com/wordpress/wp-content/uploads/2019/03/postgres.png" style="width: 40vh; height: 20vh">
        <img src="https://miro.medium.com/max/5760/1*5cukG51YzB3wniCfQ2b7kg.png" style="width: 40vh; height: 20vh">
        <img src="https://seocom.agency/wp-content/uploads/2019/02/bootstrap-stack.png" style="width: 20vh; height: 20vh">
        <img src="https://rolandocaldas.com/wp-content/uploads/2013/10/css3-html5-e1383236383597.png" style="width: 35vh; height: 20vh">
      </p>
      <hr>
    </div>
  </div>
  <br><br>



