
  <header class="header">
    <div class="brand-box">
    </div>
    <div class="text-box">
      <h1 class="heading-primary">
        <span class="heading-primary-main">Tecnología directo a tu plato</span>
        <span class="heading-primary-sub">¡Únete a nuestra revolución digital!</span>
      </h1>
      <%= link_to 'Saber más', features_path, class:'btn btn-white btn-animated' %>
    </div>
  </header>

  <br><br>

  <div id="cards-landing">
    <div class="container">
      <div class="row mx-auto">
        <div class="card column mx-auto">
          <div class="face face1">
            <div class="content">
              <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
              <h3>Tecnología</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>¡Juntamos lo mejor del mundo de la gastronomía con el informático para así, crear el ERP de restaurant más dinámico en el mundo!</p>
              <a href="#">Quiero Ver!</a>
            </div>
          </div>
        </div>
        <div class="card  column mx-auto">
          <div class="face face1">
            <div class="content">
              <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
              <h3>¡Codifícate!</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>Crea tu propia red de soporte gastronómico, donde podrás manejar desde cualquier dispositivo toda la información de tu empresa </p>
              <a href="#">Saber más</a>
            </div>
          </div>
        </div>
        <div class="card column mx-auto">
          <div class="face face1">
            <div class="content">
              <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
              <h3>¡Despega!</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>Con la gestión de Kitchain, enfócate realmente en los puntos fuertes de tu negocio y olvídate de la administración, nosotros nos encargamos de eso.</p>
              <a href="#">Despeguemos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="how-section1 text-center">
    <div class="row">
      <div class="col-md-6 how-img">
        <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
      </div>
      <div class="col-md-6">
        <h4 style="color: blue">Alcanza tus metas</h4>
        <h4 class="subheading">Enfócate en tus objetivos y alcánzalos</h4>
        <p class="text-muted">Kitchain te ayuda en toda la gestión de tu negocio, permitiendo enfocarte plenamente a mejorar, pudiendo ver reportes
          especializados de cada area, creando métricas para ti y tu equipo de trabajo. La toma de decisiones está hecha</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4 style="color: blue">Mejora tus procesos</h4>
        <h4 class="subheading">Tranquilo, nos encargamos de todo.</h4>
        <p class="text-muted">Mejoramos todos los procesos de tu negocio, permitiéndote una gestión facil y rápida en tan solo unos clicks,
          con el Dashboard de empresa puedes visualizar todas las métricas que necesitas, tanto de productos, personal, sucursales e incluso bodega.</div>
      <div class="col-md-6 how-img">
        <img src="https://image.ibb.co/cHgKnU/Work_Section2_freelance_img2.png" class="rounded-circle img-fluid" alt=""/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 how-img">
        <img src="https://image.ibb.co/ctSLu9/Work_Section2_freelance_img3.png" class="rounded-circle img-fluid" alt=""/>
      </div>
      <div class="col-md-6">
        <h4 style="color: blue">Justo en el blanco.</h4>
        <h4 class="subheading">Nos enfocamos en mejorar cada día, por eso Kitchain nunca te abandonará</h4>
        <p class="text-muted">Cada día desarrollamos más funcionalidades enfocadas en la administración de tu
          negocio, permitiendo a Kitchain evolucionar y además, permitiéndo que nuestros clientes evolucionen con nosotros.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4 style="color: blue">Conviértete en una estrella</h4>
        <h4 class="subheading">El límite es el cielo</h4>
        <p class="text-muted">Cuando se trata de negocios, en Kitchain creemos que no hay límites, por eso te ayudamos
          a tí a llegar a los mejores estándares de la industria y lograr la gestión perfecta.</div>
      <div class="col-md-6 how-img">
        <img src="https://image.ibb.co/gQ9iE9/Work_Section2_freelance_img4.png" class="rounded-circle img-fluid" alt=""/>
      </div>
    </div>
  </div>

  <section class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="content">
            <form>
              <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Enter your email">
                <span class="input-group-btn"><button class="btn" type="submit">Subscribe Now</button></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

