
  <div class="jumbotron jumbotron-fluid mb-0 text-center" id="pricing-jumbo">
    <div class="text-box">
      <h1 class="heading-primary">
        <span class="heading-primary-main">La revolución digital a tú alcance</span>
        <span class="heading-primary-sub">La mejora es la base del éxito</span>
      </h1>
    </div>
  </div>

  <div class="demo6">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="pricingTable6">
            <h3 class="title">Startup</h3>
            <div class="price-value">$14.990
              <span class="month">/mes</span>
            </div>
            <ul class="pricing-content" style="height: 20vh">
              <li>Para emprendedores</li>
              <li>Lleva tu gestióna  los límites</li>
            </ul>
            <a href="#" class="pricingTable-signup">Registrarse!</a>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="pricingTable6 blue">
            <h3 class="title">Business</h3>
            <div class="price-value">$24.999
              <span class="month">/mes</span>
            </div>
            <ul class="pricing-content"  style="height: 20vh">
              <li>Para una gestión más avanzada</li>
              <li>Para empresas con más de una sucursal</li>
            </ul>
            <a href="#" class="pricingTable-signup">Registrarse!</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="pricingTable6 green">
            <h3 class="title">Premium</h3>
            <div class="price-value">$34.990
              <span class="month">/mes</span>
            </div>
            <ul class="pricing-content"  style="height: 20vh">
              <li>Completo acceso a todos los módulos</li>
              <li>Para empresas que no conozcan los límites</li>
            </ul>
            <a href="#" class="pricingTable-signup">Registrarse!</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card container">
    <table class="table col-sm-12 text-center">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Detalles</th>
        <th scope="col">Básico</th>
        <th scope="col">Business</th>
        <th scope="col">Premium</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Sucursales</th>
        <td>1</td>
        <td>5</td>
        <td>Ilimitadas</td>
      </tr>
      <tr>
        <th scope="row">Trabajadores</th>
        <td>10</td>
        <td>50</td>
        <td>Ilimitados</td>
      </tr>
      <tr>
        <th scope="row">Productos</th>
        <td>40</td>
        <td>80</td>
        <td>Ilimitados</td>
      </tr>
      <tr>
        <th scope="row">Soporte Express</th>
        <td>X</td>
        <td>Posee</td>
        <td>Posee</td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>



