<!DOCTYPE html>
<html>
<head>
  <title>Kitchain</title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div class="container">
  <div class="card bg-primary text-white">
    <div class="card-title">Gracias por suscribirte a Kitchain <%= @object.name %>!</div>
    <p>Tendremos novedades pronto, la aplicación todavía está en desarrollo pero puedes usarla libremente mientras tanto </p>
    <div class="card-footer">
      <a href="http://thekitchain.com" class="btn btn-light">Ir a la página</a>
    </div>
  </div>
</div>
</body>
</html>