<% if alert || notice %>
<div class="alert alert-<%= if alert then 'warning' else 'success' end %> alert-dismissible fade show text-right" role="alert" style="z-index: auto">
  <strong><%= alert %><%= notice %></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>