
<footer class="kilimanjaro_area text-center">
  <!-- Top Footer Area Start -->
  <div class="foo_top_header_one section_padding_100_70">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="kilimanjaro_part">
            <h5>Nosotros</h5>
            <p>Somos un equipo joven y apasionado por la informática</p>
            <p>Kitchain es nuestra primera creación</p>
          </div>
          <div class="kilimanjaro_part m-top-15">
            <h5>Social Links</h5>
            <ul class="kilimanjaro_social_links">
              <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
              <li><a href="#"><i class="fab fa-twitter-square"></i> Twitter</a></li>
              <li><a href="#"><i class="fab fa-pinterest-square"></i> Pinterest</a></li>
              <li><a href="#"><i class="fab fa-youtube"></i> YouTube</a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i> Linkedin</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="kilimanjaro_part">
            <h5>Links</h5>
            <ul class="kilimanjaro_links">
              <li><a href="<%= root_url %>"><i class="fa fa-angle-right" aria-hidden="true"></i>Home</a></li>
              <li><a href="<%= features_url %>"><i class="fa fa-angle-right" aria-hidden="true"></i>Características</a></li>
              <li><a href="<%= pricing_url %>"><i class="fa fa-angle-right" aria-hidden="true"></i>Precios</a></li>
              <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Cuenta Empresa</a></li>
              <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Cuenta Trabajador</a></li>
              <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Foro y Comunidad</a></li>
              <li><%= link_to 'Active Admin', new_admin_user_session_path, class:'btn btn-dark text-black' %></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="kilimanjaro_part">
            <h5>Contacto</h5>
            <div class="kilimanjaro_single_contact_info">
              <h5>Teléfono:</h5>
              <p>+255 789 54 50 40 <br> +2255 766 90 94 00</p>
            </div>
            <div class="kilimanjaro_single_contact_info">
              <h5>Email:</h5>
              <p>support@kitchain.com <br> business@kitchain.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Bottom Area Start -->
  <div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>© All Rights Reserved by <a href="#">SC Informatics<i class="fa fa-love"></i></a></p>
        </div>
      </div>
    </div>
  </div>
</footer>