<%= render 'commerces/shared/navbarcommerce' %>
<br><br>
<div class="container card bg-info text-center">
  <br>
  <h1 class="text-white"> Tiempo Real</h1>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <br>
        <h2> Ventas </h2>
        <hr>
        <div id="realsales">
          <%= render @sales.max(6) %>
        </div>
        <br>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <br>
        <h2> Ordenes</h2>
        <hr>
        <div id="realorders">
          <%= render @orders.order(created_at: :desc).max(15) %>
        </div>
        <br>
      </div>
    </div>
  </div>
  <br>
  <div class="">
    <div class="card">
      <br>
      <h2> Ventas por Sucursal</h2>
      <hr>
      <div id="realoffices">
        <%= render @offices %>
      </div>
      <br>
    </div>
  </div>
</div>

<script type="application/javascript">
    $(document).on('ready turbolinks:load', function () {
        realtime = setInterval(function () {
            if (window.location.pathname == '/dashboards/commerce_generals'){
                $.ajax({
                    url: '/dashboards/commerce_generals',
                    type: 'GET',
                    dataType: 'script'
                });
            } else {
                clearInterval(realtime)
            }

        }, 5000)
    });
</script>

