<%= render 'commerces/shared/navbarcommerce' %>
<br><br>
<div class="container card bg-info text-center">
  <br>
  <h1 class="text-white"> Tu Dashboard</h1>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p> Últimas Ventas</p>
      <ul>
      </ul>
    </div>
    <div class="col-sm-4">
      <p> Ventas por oficina</p>
    </div>
    <div class="col-sm-4">
      <p> Últimas Ventas</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p> Hola </p>
    </div>
    <div class="col-sm-6">
      <p> Hola </p>
    </div>
  </div>
</div>

