<%= render 'workers/shared/navbarworker' %>
<br><br>
<div class="container">
  <div class="card bg-gray">
    <br>
    <h1 class="text-center"> Tu Dashboard </h1>
    <hr>
    <div class="row text-center">
      <div class="col-sm-6">
        <h2> Crear nueva venta</h2>
        <%= render 'sales/new' %>
      </div>

      <div class="col-sm-6">
        <h2> Ventas Activas </h2>
        <div id="sales">
          <%= render @sales.where(payed: false) %>
        </div>
      </div>
    </div>
  </div>
</div>