<%= render 'workers/shared/navbarworker' %>
<br><br>
<div class="container">
  <div class="card bg-gray">
    <br>
    <h1 class="text-center"> Tu Dashboard </h1>
    <hr>
    <div class="row text-center">
      <div class="col-sm-6">
        <h1> Hola </h1>
        <h1> Hola </h1>
        <h1> Hola </h1>
      </div>

      <div class="col-sm-6">
        <h1> Hola </h1>
        <h1> Hola </h1>
        <h1> Hola </h1>
      </div>
    </div>
  </div>
</div>

